<p id="notice"><%= notice %></p>

<p><strong>Name:</strong><%= @recipe.name %></p>

<p><strong>Instructions:</strong><%= @recipe.instructions %></p>

<p><strong>Servings:</strong><%= @recipe.servings %></p>


<%= link_to 'Edit', edit_course_recipe_path(recipe.course_id, recipe.id) %> |
<%= link_to 'Back', course_recipes_path %>

