<p id="notice"><%= notice %></p>

<p><strong>Name:</strong><%= @recipe.name %></p>

<p><strong>Instructions:</strong><%= @recipe.instructions %></p>

<p><strong>Servings:</strong><%= @recipe.servings %></p>

<%= link_to 'Back', course_recipes_path %>

